/* p{
    text-align: center;
} */

/* #myParagraph{
    text-align: center;
} */

/* .center-paragraph{
    text-align: center;
} */

/* *{
    font-family: Arial, Helvetica, sans-serif;
} */

/* h1, .center-paragraph, p{
    text-align: center;
    color: brown;
} */

/* div p{
    background-color: yellow;
} */

/* div > p{
    background-color: cyan;
} */

/* div + p{
    background-color:yellow;
} */

/* div ~ p{
    background-color: yellow;
} */

/* div ~ p:hover{
    background-color: yellow;
} */

/* div ~ p::first-letter{
    color: yellow;
} */

a[target]{
    background-color: cyan;
}